@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('../../public/assets/characters.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    
}

#main{
  background-image: url('../../public/assets/characters.jpg');
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;

}
